.Start {
    text-align: center;
  }
  
  .Start-logo {
    height: 18vmin;
    pointer-events: none;
    margin-top : 5vmin;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Start-logo {
      animation: Start-logo-spin infinite 20s;
    }
  }
  
  .Start-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Start-link {
    color: #61dafb;
  }
  
  @keyframes Start-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  